@page "/users"

@using ToDoList.Client.Components.Users
@using ToDoList.Shared.Models

@inject IModalService Modal

<button class="btn btn-primary" @onclick="OpenModal">Add User</button>
<UsersList />

@code {
    User user = new User();

    private void OpenModal()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(UpsertUserForm.User), user);
        Modal.Show<UpsertUserForm>("Add User", parameters);
    }
}
